extends layout

block content

    h1=title
    div(class="company-container")
        div(class="info")
            p Company
        div(class="company-list")
    
            each company in companyList
                div
                    a(href=company.url) #{company.name} 
                    hr
                