doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
  body
    div(class="container")
      div(class="header-navbar")
        div
          h1 My Games Collection
        div(class="header-links")
          p
            a(href="/") Home
          p 
            a(href="/home/games") Games
          p
            a(href="/home/companies") Companies
          p
            a(href="/home/sign") Log in

      div(class="content")
        block content
