doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="container")
      div(class="header-navbar")
        div
          h1 My Games Collection
        div(class="header-links")
          p
            a(href="/") Home
          p 
            a(href="/home/games") Games
          p
            a(href="/home/companies") Companies

      div(class="content")
        block content
