extends layout

block content
    div(class="single-company-container")
        h1=title 
        h3 Foundated in #{year}
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita iusto facere id eius quaerat et assumenda eos a, illum at nulla. Laudantium, ducimus itaque! Optio quis cumque soluta, officia quae iure labore, sunt vero id laboriosam sequi? Aliquid, qui. Perspiciatis, in! Odio et in totam accusamus iusto dolore nostrum rerum molestias repellat laboriosam, ut, quod delectus perspiciatis, labore nulla tempora doloribus alias officiis ullam quibusdam qui autem omnis inventore! Illo, perspiciatis blanditiis eius ipsam sed sapiente pariatur reiciendis, ab rerum, delectus accusantium itaque! Minima voluptatem accusamus soluta natus quia libero architecto. Explicabo non placeat beatae aliquam deleniti blanditiis sunt illum. Dolor, architecto odio molestias deserunt nesciunt ratione obcaecati? Vero officiis illum dolore cumque nisi, consectetur accusantium numquam harum inventore porro quos error. Molestiae nemo eum, facere deserunt exercitationem fugiat quibusdam tempore explicabo. Delectus et porro quia aut, illo eum repellendus suscipit dolores officiis minima natus dolor quaerat molestiae ea iure quas nemo, quae, iusto nam omnis dignissimos! Esse voluptatum itaque doloribus debitis tempore cum perferendis porro facere magni quidem libero unde, harum, inventore quod neque autem deserunt repellendus ea ab? Illum rem aperiam molestias dolorum, culpa vel autem exercitationem natus magni minima odio quaerat cupiditate odit dolorem ea tenetur?
        hr
        p
            a(href=company.url+"/delete") Delete this company