extends layout

block content

    h1 Sing up
    form(action="", method="POST")
        input(name="username" type="text" placeholder="name")
        input(name="password" type="text" placeholder="pass")
        button(type="submit") Submit